<div class="">
  <div class=" bg-gradient-to-l from-blue-800 to-pink-700 h-56 rounded-t-lg">
    <img class="object-contain h-[100%] w-[100%]" [src]="image" alt="pokeball" >
  </div>
  <div class="p-4">
    <p>ID: <span>{{ id < 10 ? '00' + id : id }}</span></p>

    <p>Catégorie: <span>{{category}}</span></p>
    <p>Taille: <span>{{height}} m</span></p>
    <p>Poids: <span>{{weight}} kg</span></p>
    <p>Type: <span>{{type}}</span></p>

    <p class="my-2 text-xl text-center font-bold">{{name}}</p>
  </div>
</div>

